flask
flask-cors
flask-socketio
python-socketio
python-engineio
eventlet
google-generativeai
groq
openai
deepface
opencv-python-headless
numpy
SpeechRecognition
pyttsx3
matplotlib
requests
Pillow
tf-keras
